<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
<listeners>
<listener class-name="com.demoqa.listeners.ExtentTestListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.demoqa.tests.PracticeFormTest"/>
      <class name="com.demoqa.tests.UploadDownloadTest"/>
      <class name="com.demoqa.tests.ControlTest"/>
      <class name="com.demoqa.tests.FormTest"/>
      <class name="com.demoqa.tests.SelectMenuTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
